.head_top{

    display: flex;
    padding: 15px;
    border-bottom: 1px solid #d7d7d7;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: white;
    z-index: 22;
}
.head_side_bar{
    position: sticky;
    top: 80px;
    height: 100%;
    border-radius: 1px solid black;
    /* border-right: 1px solid #d9d9d9; */
    width: 17%;
}
.s_link{
    padding: 13px;
    font-size: 18px;
    transition: 300ms;
    cursor: pointer;
    margin: 3px 15px;
    color: black;
}
.s_link:hover{
    transition: 300ms;
    background: #ede0b5;
    /* background: #dddddd; */
    border-radius: 5px;
}

.head_top_home_btn{
    margin: 0;
    background: #ede0b5;
    padding: 8px;
    border-radius: 23%;
    border: 2px solid #dd8f0038;
    cursor: pointer;
}
.main_contant_side{
    width: 83%;
    border-left: 1px solid #d7d7d7;
}


/* Admin home contnat  */
.set_select_tag{
    padding: 5px;
    margin-left: 6px;
    font-size: 15px;
   
    border-radius: 4px;
    color: black;

}
.set_search_input{
    padding: 5px;
    font-size: 16px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #838383;
}
.set_btn_col{
    padding: 7px 13px;
    background: #000000;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: 300ms;
}
.set_btn_col:hover{
    background: #3f3f3f;
    transition: 300ms;
}

/* producnt  */
.add_product_container{
    width: 50%;
    border: 1px solid #bbbbbb;
    padding: 10px;
    border-radius: 5px;
    margin: 25px 5px;
}
.table_aline_center{
    text-align: end;
    padding: 5px 50px;
}
.display_sitting{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.mp_class_container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #a7a7a7;
    border-radius: 6px;
}